<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}"
>
<head>>
    <title th:text="#{owners}">Owners List</title>
</head>
<body>
    <h1 th:text="#{owners}">Owners page</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th th:text="#{firstName}">First Name</th>
            <th th:text="#{lastName}">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="owner" type="com.learn.petclinic.model.Person"*/-->
        <!--/*@thymesVar id="owners" type="java.util.Set"*/-->
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">1</td>
            <td th:text="${owner.firstName}">Joe</td>
            <td th:text="${owner.lastName}">Buck</td>
        </tr>
        </tbody>
    </table>

</body>
</html>